body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #FFFAFA;
  color: black;
  text-align: center;
  font-family: Tahoma, Georgia, serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

figcaption {
  color: #FFE4C4;
}

#main {
  margin: 40px 12px;
  padding: 20px;
  border-radius: 15px;
  background: #FFE4C4;
}

#img-div {
  background: #8B4513;
  padding: 16px;
  margin: 5px;
  border-radius: 30px;
  margin-left: 30%;
  margin-right: 30%;
}